Pandas used for 2D tabular data structures,separated by commas with labelled aceess
To import the pandas library, if not installed, pip install pandas

In [3]:
import pandas as pd

boston dataset is already a dataset in sklearn, we will use that, first 
do 
pip install scikit-learn

Importing a data from csv files, to pandas dataframe

In [12]:
#csv file to panas dataframe
#pd.read_csv('path of csv file')

diabetes_df=pd.read_csv('./datasets/diabetes.csv')

type(diabetes_df)   #its type

pandas.core.frame.DataFrame

Let's analyse it

In [11]:
diabetes_df.head()   #to print first five enteries

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [13]:
diabetes_df.shape     #to know the no of rows and columns

(768, 9)

To load a data from a excel file to a pandas dataframe

In [ ]:
salary_df=pd.read_excel('./Datasets/Salary.xlsx')

Exporting a dataframe to csv file, same with excel

In [16]:
diabetes_df.to_csv('diabetes.csv')

Create a dataframe with random values

In [19]:
import random
import numpy as np

In [21]:
random_df=pd.DataFrame(np.random.random((20,10)))   #random values from 0 to 1

In [23]:
random_df.shape

(20, 10)

In [24]:
random_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.370878,0.416573,0.840655,0.342635,0.319302,0.161673,0.232584,0.518555,0.759252,0.545545
1,0.450997,0.535066,0.344988,0.845406,0.959681,0.754408,0.594151,0.503005,0.412511,0.253757
2,0.775801,0.062163,0.921956,0.060239,0.080791,0.324375,0.315963,0.511898,0.032553,0.801137
3,0.758888,0.274558,0.684218,0.441575,0.477123,0.047837,0.089511,0.234048,0.992322,0.382691
4,0.579421,0.128058,0.518490,0.568366,0.823425,0.894604,0.795164,0.803515,0.365494,0.228600

In [25]:
print(random_df)

           0         1         2         3         4         5         6  \
0   0.370878  0.416573  0.840655  0.342635  0.319302  0.161673  0.232584
1   0.450997  0.535066  0.344988  0.845406  0.959681  0.754408  0.594151
2   0.775801  0.062163  0.921956  0.060239  0.080791  0.324375  0.315963
3   0.758888  0.274558  0.684218  0.441575  0.477123  0.047837  0.089511
4   0.579421  0.128058  0.518490  0.568366  0.823425  0.894604  0.795164
5   0.256291  0.947811  0.710761  0.369114  0.354767  0.852980  0.638786
6   0.118385  0.245648  0.504671  0.300254  0.038865  0.066652  0.090944
7   0.813116  0.183125  0.176072  0.196927  0.179757  0.295821  0.284819
8   0.141325  0.107775  0.302399  0.845133  0.081257  0.180730  0.073661
9   0.249527  0.707911  0.411018  0.199664  0.395968  0.225950  0.278970
10  0.253878  0.454458  0.183898  0.282993  0.981874  0.948272  0.128310
11  0.563862  0.130864  0.102847  0.475890  0.211124  0.211859  0.798418
12  0.376411  0.708171  0.397059  0.769112  0.543794  0.219717  0.146796
13  0.419876  0.853937  0.304031  0.330583  0.949506  0.086486  0.792917
14  0.242894  0.036032  0.300758  0.054877  0.913817  0.075362  0.365667
15  0.235463  0.712790  0.972083  0.945758  0.071137  0.560892  0.626328
16  0.676184  0.082154  0.360700  0.320559  0.354518  0.447247  0.204301
17  0.479287  0.849730  0.104967  0.574780  0.361536  0.715519  0.082662
18  0.223469  0.305195  0.548975  0.599890  0.715751  0.472736  0.830162
19  0.819102  0.595503  0.114162  0.962479  0.551225  0.325751  0.724697

           7         8         9
0   0.518555  0.759252  0.545545
1   0.503005  0.412511  0.253757
2   0.511898  0.032553  0.801137
3   0.234048  0.992322  0.382691
4   0.803515  0.365494  0.228600
5   0.700482  0.724453  0.489088
6   0.281083  0.494699  0.169112
7   0.274023  0.901923  0.010392
8   0.719103  0.443681  0.788980
9   0.197392  0.778151  0.682596
10  0.460324  0.251268  0.877004
11  0.398002  0.287251  0.407642
12  0.920715  0.469516  0.134588
13  0.059954  0.938143  0.445941
14  0.025953  0.474030  0.128303
15  0.859453  0.116787  0.043020
16  0.911170  0.256177  0.528594
17  0.377877  0.233901  0.759024
18  0.879006  0.391269  0.253510
19  0.611576  0.691684  0.453612

In [26]:
random_df.tail()       #last five values

,0,1,2,3,4,5,6,7,8,9
15,0.235463,0.712790,0.972083,0.945758,0.071137,0.560892,0.626328,0.859453,0.116787,0.043020
16,0.676184,0.082154,0.360700,0.320559,0.354518,0.447247,0.204301,0.911170,0.256177,0.528594
17,0.479287,0.849730,0.104967,0.574780,0.361536,0.715519,0.082662,0.377877,0.233901,0.759024
18,0.223469,0.305195,0.548975,0.599890,0.715751,0.472736,0.830162,0.879006,0.391269,0.253510
19,0.819102,0.595503,0.114162,0.962479,0.551225,0.325751,0.724697,0.611576,0.691684,0.453612

Everything about the csv file,very useful
also tells us size

In [27]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

To find the no of missing values in a csv file

In [28]:
diabetes_df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

To count a particular column,enteries for ex let's find how many diabetic

In [29]:
diabetes_df.value_counts('Outcome')

Outcome
0    500
1    268
Name: count, dtype: int64

In [30]:
diabetes_df.value_counts('Age')         #group kar chuka hai, age k basis pe

Age
22    72
21    63
25    48
24    46
23    38
28    35
26    33
27    32
29    29
31    24
41    22
30    21
37    19
42    18
33    17
32    16
38    16
36    16
45    15
34    14
46    13
43    13
40    13
39    12
35    10
44     8
51     8
50     8
52     8
58     7
54     6
47     6
49     5
53     5
57     5
48     5
60     5
55     4
63     4
62     4
66     4
56     3
65     3
59     3
67     3
61     2
69     2
64     1
68     1
70     1
72     1
81     1
Name: count, dtype: int64

To group the enteries based on a particular attribute , and then find the mean of every column

In [31]:
diabetes_df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

Statistical Measures

In [32]:
diabetes_df.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [33]:
diabetes_df.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [34]:
diabetes_df.std()

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [35]:
diabetes_df.mode()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1.0,99,70.0,0.0,0.0,32.0,0.254,22.0,0.0
1,NaN,100,NaN,NaN,NaN,NaN,0.258,NaN,NaN

In [36]:
diabetes_df.min()

Pregnancies                  0.000
Glucose                      0.000
BloodPressure                0.000
SkinThickness                0.000
Insulin                      0.000
BMI                          0.000
DiabetesPedigreeFunction     0.078
Age                         21.000
Outcome                      0.000
dtype: float64

In [37]:
diabetes_df.max()

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
dtype: float64

To describe everything, all these min,max,std,mean,mode , 25% etc

In [38]:
diabetes_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

Manupulating a dataframe

In [41]:
random_values = [random.randint(3, 3000) for i in range(len(diabetes_df))]
print(random_values)

[1168, 420, 106, 95, 2643, 2127, 567, 2357, 2602, 471, 1626, 2794, 33, 1155, 1201, 1152, 2785, 899, 150, 1393, 1128, 815, 451, 374, 1282, 1597, 2440, 1344, 2783, 1430, 1970, 563, 676, 2674, 2036, 1300, 1711, 908, 877, 2402, 36, 262, 719, 2730, 2426, 2659, 1036, 2746, 424, 1345, 2570, 2517, 1065, 2989, 685, 2761, 965, 646, 873, 2341, 1127, 106, 2571, 1118, 1274, 2636, 1946, 2480, 132, 2706, 602, 2811, 2421, 1889, 2162, 453, 1744, 61, 993, 2874, 1120, 2247, 2227, 1308, 1781, 1276, 2725, 942, 35, 2119, 486, 1250, 905, 910, 2122, 1231, 1035, 1168, 2701, 613, 2634, 2723, 542, 1804, 1936, 2789, 313, 1931, 1384, 2758, 742, 670, 1638, 1482, 1775, 2396, 901, 2083, 1687, 399, 2628, 2374, 356, 1551, 1081, 1257, 2431, 2459, 1634, 661, 399, 1844, 613, 84, 90, 97, 1598, 1908, 1181, 2509, 768, 2811, 2507, 2767, 1575, 1979, 820, 294, 1877, 912, 1684, 1622, 2303, 2743, 1451, 2413, 1104, 754, 2077, 1145, 2030, 951, 250, 1759, 2641, 1024, 2613, 1594, 1390, 1786, 2436, 970, 325, 867, 116, 2761, 115, 2577, 2366, 2969, 535, 564, 2183, 343, 835, 1080, 1905, 731, 983, 2602, 2022, 1966, 150, 1561, 2977, 1992, 2229, 1270, 467, 1041, 2705, 980, 272, 2164, 78, 2435, 1165, 2711, 399, 1193, 1613, 2546, 1552, 2670, 2408, 1328, 432, 1061, 2912, 1665, 1077, 1584, 1046, 700, 2087, 2063, 2214, 2171, 528, 508, 1828, 932, 2913, 667, 2464, 306, 2551, 2277, 373, 2060, 227, 829, 358, 1086, 1952, 1148, 2990, 2450, 1202, 1442, 233, 2236, 294, 246, 2704, 1008, 2601, 1524, 634, 392, 1681, 2903, 1602, 2261, 2958, 1675, 1456, 2596, 1363, 854, 1826, 2960, 302, 246, 1351, 1033, 1653, 1478, 871, 2131, 1487, 1821, 2074, 289, 1726, 1853, 222, 634, 1071, 2287, 486, 2489, 495, 101, 2768, 1661, 2589, 2768, 633, 2462, 1883, 992, 508, 868, 2490, 2109, 1365, 33, 1558, 1904, 395, 831, 2282, 791, 719, 1428, 937, 2605, 2895, 2639, 650, 1261, 383, 2727, 1920, 671, 1558, 1938, 2111, 1311, 1863, 1443, 2704, 329, 1858, 2531, 583, 1600, 1643, 499, 1625, 2521, 869, 1499, 1143, 1985, 370, 1295, 1370, 2815, 432, 2930, 1909, 1529, 131, 2050, 753, 2464, 2061, 619, 1284, 2486, 1942, 130, 2976, 462, 1835, 2677, 200, 249, 306, 1591, 1433, 2231, 1468, 2318, 2037, 993, 1450, 251, 1435, 2786, 17, 550, 1754, 2880, 1572, 1477, 1846, 798, 1625, 570, 2862, 2242, 1477, 2103, 2532, 933, 1078, 1697, 1506, 266, 538, 2014, 1270, 1574, 1555, 2802, 398, 2384, 2369, 653, 222, 2029, 541, 1252, 1377, 1252, 887, 1703, 746, 307, 1222, 865, 197, 680, 1035, 2065, 798, 859, 2801, 460, 2272, 1406, 375, 2800, 2028, 159, 1731, 1223, 1648, 1765, 684, 1755, 52, 766, 2626, 1202, 528, 2202, 2174, 382, 2181, 914, 2930, 450, 1069, 1765, 2645, 245, 1537, 1670, 2550, 2117, 2298, 1464, 27, 1821, 857, 1545, 2058, 1452, 2565, 2465, 450, 2978, 1522, 230, 350, 2059, 1586, 302, 2341, 2935, 621, 906, 1291, 1750, 2875, 1719, 368, 2903, 2094, 453, 252, 1187, 601, 2563, 2215, 109, 1514, 1962, 501, 2894, 64, 2109, 405, 999, 2645, 2881, 208, 1827, 1133, 633, 1233, 1286, 559, 1830, 1263, 881, 2652, 73, 1921, 2173, 2702, 2805, 887, 590, 1951, 706, 2942, 2469, 1480, 2066, 1886, 2160, 2840, 921, 2763, 1113, 2702, 783, 1189, 33, 1765, 1165, 1606, 2033, 670, 2105, 587, 801, 2199, 1357, 591, 1774, 1741, 1061, 175, 1299, 1217, 687, 1440, 63, 2616, 650, 1479, 1775, 2613, 1594, 2645, 286, 2226, 2635, 200, 1771, 925, 1034, 41, 400, 1666, 1497, 660, 2827, 93, 1694, 2377, 289, 814, 2855, 2910, 1322, 2624, 226, 826, 584, 1558, 726, 2814, 817, 2357, 399, 201, 248, 10, 1808, 2871, 273, 2811, 2682, 535, 335, 962, 1458, 1007, 2860, 2321, 2470, 72, 711, 1178, 673, 1818, 2221, 938, 1742, 2633, 2999, 845, 256, 1864, 1336, 1147, 2181, 2851, 1289, 1091, 159, 2623, 1502, 2023, 1485, 2213, 1529, 451, 2940, 2532, 700, 1761, 1221, 1626, 773, 865, 60, 1316, 2944, 796, 1881, 1297, 2628, 355, 665, 164, 2859, 88, 721, 2008, 737, 2020, 1256, 86, 311, 1996, 1980, 1071, 2718, 1684, 2988, 2061, 2464, 504, 906, 2906, 2939, 2757, 2354, 390, 160, 1172, 1162, 2639, 1544, 10, 2056, 1825, 842, 342, 1826, 490, 1470, 736, 1269, 2381, 2123, 1606, 718, 1486, 780, 2511, 116, 178, 1066, 1902, 19, 124, 2480, 1813, 411, 1613, 22, 417, 1432, 575, 1719, 56, 1915, 1439, 975, 2951, 421, 695, 2656, 1277, 1296, 2716, 2001, 1866, 265, 1206, 107, 1293, 1169, 966, 2343, 1389, 1075, 965, 630, 2977, 825, 2200, 857, 2542, 912, 2617, 1242, 2881, 708, 1700, 2477, 2342, 630, 2923, 361, 2189, 2374, 2121, 1703]

1. Adding a column

In [42]:
diabetes_df['Random_Value'] = random_values

In [44]:
diabetes_df.shape
diabetes_df.head()  #u can see new column

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Random_Value
0,6,148,72,35,0,33.6,0.627,50,1,1168
1,1,85,66,29,0,26.6,0.351,31,0,420
2,8,183,64,0,0,23.3,0.672,32,1,106
3,1,89,66,23,94,28.1,0.167,21,0,95
4,0,137,40,35,168,43.1,2.288,33,1,2643

2. To remove a row, axis=0, and index should be given

In [46]:
diabetes_df.drop(index=2,axis=0)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Random_Value
0,6,148,72,35,0,33.6,0.627,50,1,1168
1,1,85,66,29,0,26.6,0.351,31,0,420
3,1,89,66,23,94,28.1,0.167,21,0,95
4,0,137,40,35,168,43.1,2.288,33,1,2643
5,5,116,74,0,0,25.6,0.201,30,0,2127
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,361
764,2,122,70,27,0,36.8,0.340,27,0,2189
765,5,121,72,23,112,26.2,0.245,30,0,2374
766,1,126,60,0,0,30.1,0.349,47,1,2121
767,1,93,70,31,0,30.4,0.315,23,0,1703

3. To remove a column

In [47]:
diabetes_df.drop(columns='Age',axis=1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Outcome,Random_Value
0,6,148,72,35,0,33.6,0.627,1,1168
1,1,85,66,29,0,26.6,0.351,0,420
2,8,183,64,0,0,23.3,0.672,1,106
3,1,89,66,23,94,28.1,0.167,0,95
4,0,137,40,35,168,43.1,2.288,1,2643
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,0,361
764,2,122,70,27,0,36.8,0.340,0,2189
765,5,121,72,23,112,26.2,0.245,0,2374
766,1,126,60,0,0,30.1,0.349,1,2121
767,1,93,70,31,0,30.4,0.315,0,1703

It's temporarily only, if u want to do it permanently, make a new csv file variable

In [50]:
diabetes_df2=diabetes_df.drop(columns='Age',axis=1)
diabetes_df2.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Outcome,Random_Value
0,6,148,72,35,0,33.6,0.627,1,1168
1,1,85,66,29,0,26.6,0.351,0,420
2,8,183,64,0,0,23.3,0.672,1,106
3,1,89,66,23,94,28.1,0.167,0,95
4,0,137,40,35,168,43.1,2.288,1,2643

4. Locating a row using index values

In [51]:
diabetes_df.iloc[2]

Pregnancies                   8.000
Glucose                     183.000
BloodPressure                64.000
SkinThickness                 0.000
Insulin                       0.000
BMI                          23.300
DiabetesPedigreeFunction      0.672
Age                          32.000
Outcome                       1.000
Random_Value                106.000
Name: 2, dtype: float64

5. Locating a particular column

In [52]:
diabetes_df.iloc[:,3]

0      35
1      29
2       0
3      23
4      35
       ..
763    48
764    27
765    23
766     0
767    31
Name: SkinThickness, Length: 768, dtype: int64

6. Correlation : the relation between two attributes, it will tell direct relationship or indirect
if negative then inidirect 
if positive then direct

In [53]:
diabetes_df.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Random_Value
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898,-0.003268
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581,0.029869
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068,0.033627
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752,-0.042681
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548,-0.035979
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695,0.016758
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844,-0.038819
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356,0.000466
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000,-0.023614
Random_Value,-0.003268,0.029869,0.033627,-0.042681,-0.035979,0.016758,-0.038819,0.000466,-0.023614,1.000000